<div class="recipeCard" *ngIf="recipe.name; else noRecipeCard">
  <div class="recipeImg">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}">
  </div>
  <div class="recipeInfo">
    <p class="recipeName">{{ recipe.name }}</p>
    <br>
    <p>{{ recipe.description }}</p>
    <br>
    <p *ngFor="let ingredient of recipe.ingredients; let i = index">
      + {{ ingredient.amount }} {{ ingredient.measurementUnit }} {{ ingredient.name }}
    </p>
    <br>
    <p>{{ recipe.instructions }}</p>
    <br>
    <div style="text-align:center;">
      <button class="button" (click)="onEditRecipe()">EDIT RECIPE</button>
    </div>
  </div>
</div>

<ng-template #noRecipeCard>
  <p>No recipe found</p>
</ng-template>
