.wrapper {
  overflow: hidden;
  text-align: center;
}

.container {
  display: inline-block;
  text-align: left;
}

.col1
{
  float:left;
}
.col2
{
  float:left;
  padding-left: 20px;
  padding-bottom: 10px;
}
