<div class="wrapper">
  <div class="container">
    <form>
      <div class="appRow">
        <label for="fname">First Name</label>
        <input
          type="text"
          id="fname"
          class="input">
      </div>

      <div class="appRow">
        <label for="lname">Last Name</label>
        <input
          type="text"
          id="lname"
          class="input">
      </div>

      <div class="appRow">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="input">
      </div>

      <div class="appRow">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="input">
      </div>

      <div style="text-align:center;">
        <button
          type="submit"
          class="blue">Sign Up</button>
      </div>
    </form>
  </div>
</div>
