<div class="wrapper">
  <div class="container">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="appRow">
        <label for="fname">First Name</label>
        <input
          type="text"
          id="fname"
          name="fname"
          class="input"
          ngModel>
      </div>

      <div class="appRow">
        <label for="lname">Last Name</label>
        <input
          type="text"
          id="lname"
          name="lname"
          class="input"
          ngModel>
      </div>

      <div class="appRow">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="input"
          ngModel>
      </div>

      <div class="appRow">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="input"
          ngModel>
      </div>

      <div style="text-align:center;">
        <button
          type="submit"
          class="blue">Sign Up</button>
      </div>
    </form>
  </div>
</div>
